<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" >
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-danger">
  <a class="navbar-brand" href="{% url 'index' %}">
      <i class="fa fa-home" style="font-size: 1em;"> </i>  Grantex Inventory App
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if request.user.is_authenticated %}
     <form action="{% url 'logout' %}" class="form-inline mr-0 ml-auto" >
         <table><tr><td><span class="navbar-text"><b>Χρήστης:  </b></span> </td><td><span class="navbar-text">{{request.user.get_full_name}}</span></td><td><button class="btn btn-outline-warning d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" type="submit" >Αποσύνδεση</button></td></tr></table>
     </form>
     {% else %}
        <form action="{% url 'login' %}" class="form-inline mr-0 ml-auto" >
        <button class="btn btn-outline-light" type="submit" >Σύνδεση</button>
    </form>
     {% endif %}


  </div>
</nav>

        <title>Inventory App</title>
        {% block extrahead %}{% endblock %}
    <link rel="stylesheet" href="{% static "inventoryapp/bootstrap/css/bootstrap.css" %}">
    <script   src="https://code.jquery.com/jquery-3.5.1.js"   integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="{% static "inventoryapp/bootstrap/js/bootstrap.js"  %}"></script>
</head>

<table width="100%">
    <tr>
        <td width="1%"></td>
        <td>  {% block content %}{% endblock %}</td>
        <td width="1%"></td>
    </tr>

</table>


</html>