{% extends "base.html" %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
{% block content %}


  <h1>Stock List</h1>
<table width="100%">
    <tr>
{% if filter %}
        </tr>
    Αναζητήστε χωρίς αστερίσκους
    <tr>
    <td>
    <form action="" method="get" class="form form-inline">
        {% bootstrap_form filter.form layout='inline' %}
        {% bootstrap_button 'Αναζήτηση' %}
    </form>
    </td>
{% endif %}
        <td>
<button class="btn btn-success mr-0 ml-auto" onclick="location.href='{% url 'stockcreate'%}'">+  Προσθήκη</button></td>
    </tr>
    </table>
  <body>
  {% if table %}
    {% render_table table %}
  {% endif %}
  </body>

{% endblock %}
