{% extends "base.html" %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
{% load myapp_tags %}
{% load crispy_forms_tags %}
{% block content %}
<script>
      $(document).on("dal-element-initialized", function(e) {
    $(`#${e.detail.element.id}`).select2('open').trigger('focus')
});
    </script>
<div class="container-fluid">
                 <div class="col" id="main">
                        <br>
                <table width="100%">
                <tr>
                <h2> Προσθήκη αποθέματος
                </h2>
                </tr>
                <tr>
                   <table width="100%">
<tr><td width="40%">
    {% crispy form 'bootstrap4' %}</td>
    <td></td>
    </tr>
</table>
                   </tr>
                </table>
                    </div>

      </div>

{% endblock %}