{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Λάθος κωδικός ή όνομα χρήστη. Δοκιμάστε ξανά.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Ο λογαριασμός σας δεν έχει πρόσβαση σε αυτή τη σελίδα.</p>
    {% else %}
      <p>Συνδεθείτε για να δείτε τη σελίδα.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Σύνδεση"  class="btn btn-success d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3"/>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}
